COHERE_API_KEY=
COHERE_MODEL=command-a-plus-05-2026
COHERE_BASE_URL=https://api.cohere.ai/compatibility/v1

HF_TOKEN=
HF_USERNAME=
GAIA_API_URL=https://agents-course-unit4-scoring.hf.space
AGENT_CODE_URL=https://huggingface.co/spaces/YOUR_USERNAME/YOUR_SPACE

MAX_AGENT_STEPS=20
